<div class="row">
  <div class="columns small-2">
  Prev
  </div>
  <div class="columns small-8">
    <div class="callout">
    Pull
    </div>
  </div>
  <div class="columns small-2">
  Next
  </div>
</div>
