Hello <%= current_user.login %>

<div class="row">
 <div class="large-12">
  <ul class="accordion">
    <% @user.list_repositories.each do |repo| %>
      <li>
        <%= repo.full_name %>
      </li>
    <% end %>
  </ul>
 </div>
</div>


