Hello <%= current_user.login %>

<div class="row">
 <div class="large-12">
  <ul>
    <% @user.pull_requests.each do |pull| %>
      <li>
        <%= pull.repo %> <%= pull.pull_id  %>
        <ul>
          <% pull.files.each do |file| %>
            <li>
            <%= file.file_path %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
 </div>
</div>


